@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema de Login Cliente/Vendedor</h1>
    <p>Saiba mais em minha página no <a href="https://github.com/Paulojesus85"> GitHub</a>.</p>
</div>
